In [2]:
import random
numbers=[random.randrange(1,61) for i in range(15)]
print(numbers)

[25, 9, 6, 42, 23, 7, 31, 33, 16, 8, 45, 13, 16, 34, 25]

Append: allows you to append a single element to the end of a list

In [3]:
numbers

[25, 9, 6, 42, 23, 7, 31, 33, 16, 8, 45, 13, 16, 34, 25]

In [4]:
numbers.append(45)
numbers

[25, 9, 6, 42, 23, 7, 31, 33, 16, 8, 45, 13, 16, 34, 25, 45]

Extend: Allows you to append several numbers to the end of a list

In [5]:
numbers.extend([11,12,13])
numbers

[25, 9, 6, 42, 23, 7, 31, 33, 16, 8, 45, 13, 16, 34, 25, 45, 11, 12, 13]

Insert: Allows us to insert into a list at any location

In [6]:
numbers

[25, 9, 6, 42, 23, 7, 31, 33, 16, 8, 45, 13, 16, 34, 25, 45, 11, 12, 13]

In [8]:
numbers.insert(4,34)
numbers

[25, 9, 6, 42, 34, 23, 7, 31, 33, 16, 8, 45, 13, 16, 34, 25, 45, 11, 12, 13]

Remove: removes an element from a list so long as it exists

In [9]:
numbers.remove(33)
numbers

[25, 9, 6, 42, 34, 23, 7, 31, 16, 8, 45, 13, 16, 34, 25, 45, 11, 12, 13]

Count: THis returns how many times a partcular element appears on a list

In [10]:
numbers.count(34)

2

Index: this returns the location of an item in the list

In [11]:
numbers.index(9)

1

Pop?

Sort: this will permanently sort your list

In [14]:
numbers.sort()
numbers

[6, 7, 8, 9, 11, 12, 13, 13, 16, 16, 23, 25, 25, 31, 34, 34, 42, 45, 45]

Copy: Returns a copy of the list that is independent of the original list

In [15]:
d=numbers.copy()
d

[6, 7, 8, 9, 11, 12, 13, 13, 16, 16, 23, 25, 25, 31, 34, 34, 42, 45, 45]

Clear: removes all elements from a list

In [16]:
numbers.clear()
numbers

[]

Any: returns True if any item in its iterable arrgument is True. All: returns Tre if all items in the iterable argument are True.

In [17]:
items=[True, True, True, False, True, False]
any(items)

True

In [18]:
all(items)

False

Filter/Map: filter creates a list of elements for a funiton returns true, Map applies a function to all the elements in an input_list

In [23]:
def greater_ten(x):
    if x>10:
        return x

In [24]:
import random
numbers=[random.randrange(1,50) for i in range(12)]
print(numbers)

[32, 19, 4, 28, 43, 34, 28, 1, 22, 11, 38, 37]

In [25]:
list(filter(greater_ten, numbers))

[32, 19, 28, 43, 34, 28, 22, 11, 38, 37]

In [26]:
list(map(greater_ten, numbers))

[32, 19, None, 28, 43, 34, 28, None, 22, 11, 38, 37]

Tuples

cmp: Compares elements of both tuples.

len(tuple) :Gives the total length of the tuple.

In [32]:
tuple1, tuple2 = (123, 'xyz', 'boo'), (456, 'abc')
print ("First tuple length : ", len(tuple1))
print ("Second tuple length : ", len(tuple2))

First tuple length :  3
Second tuple length :  2

max(tuple): Returns item max value.
min(tuple): Returns item  min value.

In [36]:
input=[94,56,12,36,39]
d=sorted(input)
print(d)

[12, 36, 39, 56, 94]

In [37]:
print('the largest element is', max(input))
print('the smallest element is', min(input))

the largest element is 94
the smallest element is 12

tuple(seq) Converts a list into tuple.

I am sorry, I am not sure what cmp and tuple(seq) are. I tried looking online but I can't find anythign helpful.

## PA4, Breanna Rahe, CS-150